.pDIV {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.pdiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3%;
    color: var(--vinho);
    height: auto;
    width: 100%;
    background-color: var(--rosa-clarinho);
    padding: 1rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin-bottom: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pdiv:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.item-img-p {
    width: 60px;
    height: auto;
    color: var(--vinho);
}

#estrela {
    width: 55px;
    margin: 0 2.5px;
    height: auto;
    color: var(--vinho);
}

.instaDIV {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3%;
    margin-bottom: 3rem;
}

.insta-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    height: auto;
    width: 100%;
    background-color: var(--rosa-clarinho);
    border-radius: 25px;
    padding: 2rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.insta-div:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.item-img-insta {
    height: 60px;
    width: auto;
}

.texto-insta {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 5rem;
}

.p {
    margin: 0;
}

.link-insta {
    background-color: var(--vinho);
    color: var(--branco);
    padding: 5px 10px;
    width: min-content;
    text-decoration: none;
    font-size: 14px;
    border-radius: 25px;
    font-weight: bold;
}

.link-insta:hover {
    cursor: pointer;
}

@media (max-width: 767px) {
    .pdiv {
        display: flex;
        flex-direction: column;
    }

    .item-img-p {
        margin: 1rem;
    }

    #estrela {
        margin: 1rem;
    }

    .instaDIV {
        flex-direction: column;
    }
}