#header {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    background-color: var(--vinho);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 40px 40px;
    justify-content: end;
    gap: 5px;
    align-items: center;
    color: var(--rosa-clarinho);
}

#logo {
    position: relative;
    left: 0.5rem;
    height: 50px;
    width: auto;
}

.logo {
    position: absolute;
    left: 1.35rem;
}