.search {
    position: relative;
    height: 40px;
}

.search .input {
    background-color: var(--vinho);
    border: 1px solid var(--branco);
    font-size: 16px;
    color: var(--branco);
    padding: 15px;
    height: 40px;
    width: 40px;
    transition: width 0.8s ease;
    border-radius: 25px;
}

.search .input::placeholder {
    color: var(--branco);
}

.botao {
    background-color: var(--vinho);
    border: 1px solid var(--branco);
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search i {
    color: var(--branco);
}

.botao:hover {
    background-color: var(--branco);
}

.botao:hover i {
    color: var(--vinho);
}

.botao:focus,
.input:focus {
    outline: none;
}

.search.active .input {
    width: 215px;
}